<h1>New Video</h1>
<p id="notice"><%= notice %></p>
<%= form_for :video, url: videos_path, method: :post do 
	|f|  %>

<%= f.file_field :name %>
 
    <%= f.submit "Update", class: "btn btn-sm btn-success "%>

<% end %>

<%= link_to 'Back', videos_path %>
